/* @theme worg_white
based on worg theme
without background image */

@import 'default';

@charset "UTF-8";

h1 {
    font-size: 34px;
    font-weight: bold;
    color: #003070;
}
h2 {
    font-size: 26px;
    font-weight: bold;
    color: #003070;
    margin: 0.5em 0em;
}
h3 {
    font-size: 22px;
    font-weight: bold;
    color: #003070;
    /* padding: 0.10em 0em; */
}
h4 {
    font-size: 18px;
    color: darkred;
    font-style: italic;
}
p {
    font-size: 16px;
    margin-bottom: 5px;
}
blockquote {
    background-color: #EFEFEF;
    border-left: 6px solid #cccccc;
    margin: 0.25em 0px; /* vertical and horizontal */
    padding: 0.15em 10px;
    margin-right: 1em;
    /* margin: 0;
    max-width: 400px; */
}
blockquote p {
    text-align: left;
    font-size: 14px;
    font-style: italic;
}
pre{
    font-size: 8px;
}
th {
    font-size: 14px;
    text-align: left;
    background: #2E8652;
    color: white;
}
td {
    font-size: 12px;
    column-count: 1;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
img {
    display: inline;
    margin: 0 auto;
    padding: 5px;
    background-color: transparent!important;
}
/* img {
    display: flex;
} */
img[alt~="center"] {
    display: block;
    margin: 0 auto;
}
img[alt~="right"] {
    display: block;
    float: right;
}
ul {
    font-size: 14px;
    list-style: square;
}
ol {
    font-size: 14px;
}

/* FOOTER */
footer {
    font-size: 12px;
    font-style: normal;
    font-family: Consolas;
    color: middlegrey;
    left: 20px;
    bottom: 6px;
}


/* PAGINATION */
section::after {
    content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
    font-family: Consolas;
    font-size: 12px;
    font-weight: bold;
    bottom: 6px;
    right: 20px;
    color: black;
    /* border-top: solid; */
}

/* header {
    color: grey;
    font-style: italic;
} */


/* DEFINITION OF THE SEGMENT CLASSES */
/* --------------------------------- */

section {
    /* background-image: url("https://raw.githubusercontent.com/sbwiecko/worg_theme/main/images/_NORMAL.png");
    background-size: contain; */
}

/* SLIDE "TITLE" */
section.title {
    /* background-image: url("https://raw.githubusercontent.com/sbwiecko/worg_theme/main/images/_TITLE.png");
    background-size: contain; */
}

/* SLIDE "SEGMENT" */
section.segment {
    /* background-image: url("https://raw.githubusercontent.com/sbwiecko/worg_theme/main/images/_SECTION.png");
    background-size: contain; */
}

/* SLIDE "FINAL" */
section.final {
    /* background-image: url("https://raw.githubusercontent.com/sbwiecko/worg_theme/main/images/_FINAL.png");
    background-size: contain; */
}